<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/pay.css' %}">
    <script>
        function success() {
            alert("支付成功！");
        }
        var t1=window.setTimeout(success,2000);
        function then() {
            window.location.href="/user/user_msg";
        }
        var t2=window.setTimeout(then,3000);
    </script>
</head>
<body>
<div class="content">
    <img src="{% static 'images/beg.jpg'%}">
</div>
</body>
</html>