*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
.header {
    height: 33px;
    background: #ffffff;
}
.logo{
    padding: 21px 0 21px 0;
    float: left;
    position: relative;
    width: 100px;
    height: 9px;
}
.logo h1{
    font-weight: 500;
    font-size: 18px;
    color: #ffa000;
    margin-top: -28px;
    margin-left: 38px;

}
.logo img{
    height: 30px;
    width: 30px;
}

.content{
    width: 800px;
    margin: 0px auto 15px;
}