*{
    margin: 0;
    padding: 0;
    font-family: 微软雅黑;
}
.content{
    width: 800px;
    margin: 0px auto 15px;;
    border: solid 1px black;

}
.header{
    margin: 30px auto 15px;
    width:100px;
}

.order{
    margin-top: 10px;
}
.order span{
    border: solid 1px #FFCC33;
    border-radius: 2px;
    color:#fafafa;
    font-size: 17px;
    padding: 0 18px;
    line-height: 28px;
    display: inline-block;
    width: 100px;
    margin-top: 25px;
    margin-left: 9px;
    text-align: center;
    background: #FFCC33;
}
.order label{
    color: #666666;
    margin-left: 50px;
}
.confirm{
    margin: 55px auto 15px;
    width: 300px;
    height: 40px;
}
#btn1{
    margin: 0px 47px 15px;
    border: solid 1px #cccccc;
    text-align: center;
    width: 100px;
    height: 40px;
    background: #cccccc;
    cursor: pointer;
}
#btn1:hover{
    background: white;
    cursor: pointer;
}
#btn2{
    margin: 0px auto 15px;
    border: solid 1px #ffa000;
    text-align: center;
    width: 100px;
    height: 40px;
    background:#ffa000 ;
    color: #ffeefb;
    cursor: pointer;
}
#btn2:hover{
    background: #FFCC33;
    cursor: pointer;
}
