<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit user's message</title>
</head>
<body>
{{ msg }}
    edit user's message
    <form action="/edit_user_msg" method="post">
        nickname: <input type="text" name="nickname"> <br>
        email: <input type="text" name="email"> <br>
        idcard: <input type="text" name="idcard"> <br>
        type:<p>租户：<input type="radio" name="type" value="1"></p>
             <p>房东：<input type="radio" name="type"  value="0"></p>
        icon: <input type="text" name="icon"> <br>
        tel: <input type="text" name="tel"> <br>
        <input type="submit" value="edit">
    </form>
</body>
</html>