<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
{{ msg }}
<div class="header">
    <label>
        选择城市
    </label>
    <select class="city">
        <option value="1">北京</option>
        <option value="2">上海</option>
        <option value="3">深圳</option>
        <option value="4">广州</option>
        <option value="5">成都</option>
        <option value="6">南京</option>
    </select>
    <div class="logo">
        <a href="/index">
            <img src="{% static 'images/icon.jpg' %}">
        </a>
        <h1>实租网</h1>
    </div>
    <div class="header-login">
        <div class="login">
            <ul class="login">
                {% if tel %}
                    <li class="item"><a href="user/user_msg">{{ tel }}</a></li>
                    <li class="item"><a href="user/logout">EXIT</a></li>
                {% else %}
                    <li class="item"><a id="sign" href="user/login">登录</a></li>
                    <li class="item"><a href="user/register">注册</a></li>
                {% endif %}
                <li class="item"><a href="room/release_rent_msg">release</a></li>

            </ul>
        </div>
    </div>
    <div id="banner">
        <img src="{% static 'images/banner1.jpg' %}">

    </div>
    <div class="search">
        <input type="text" class="txt_inp" placeholder="输入区域、地铁、小区名" id="i_q_keyword_1">
        <a href="room/search_room">
            <button class="search_btn" id="searchListBtn">搜索</button>
        </a>
    </div>
</div>
<div class="content">
    <div class="content-top">
        <h2>实习生租房</h2>
        <h4>实习生找房源，就上实租网！</h4>
    </div>
    <div class="hou-produce">
        <div class="house-list">
            {% for room in rooms %}
                {% for img in imgs %}
                    {% if room.id == img.room_id %}
                        <div class="house">
                            <div class="houseimg">
                                <a href="/room/{{ room.id }}"><img src="{{ img.url }}"/></a>
                            </div>
                            <div class="houseIntr">
                                <span>房名：{{ room.name }}</span><br/>
                                <span>地点：{{ room.location }}</span> <br>
                                <span>租金：{{ room.rent_amount }}</span>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </div>
    </div>

</div>
<div class="footer">
    <div class="area">
        <div class="clearfix">
            <div class="glbLeft">
                <dl class="fList">
                    <dt>关于我们</dt>
                    <dd>
                        <a href="#">关于实租</a>
                        <a href="#">联系实租</a>
                        <a href="#">加入实租</a>
                    </dd>
                </dl>
                <dl class="fList">
                    <dt>友情链接</dt>
                    <dd>
                        <a href="#">友情链接</a>
                        <a href="#">友情链接</a>
                        <a href="#">友情链接</a>
                        <a href="#">友情链接</a>
                    </dd>
                </dl>
                <dl class="fList">
                    <dt>关注我们</dt>
                    <dd>
                        <a href="#">打赏开发者</a>
                        <a href="#">下载app</a>
                    </dd>
                </dl>
            </div>
            <div class="glbRight">
                <div class="img">
                    <img src="../static/images/icon.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>