<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>order list</title>
</head>
<body>

<ul>
    {% for order in orders %}
        <li>{{ order.room_id }} <br>
            {{ order.create_time }} <br>
            {{ order.rent_time }} <br>
            {% if order.is_over == 0 %}
                <form action="/room/exit_rent" method="post">
                    <input type="hidden" name="user_id" value="{{ user_id }}"> <br>
                    <input type="hidden" name="room_id" value="{{ order.room_id }}">
                    <input type="submit" value="退租">
                </form>
            {% else %}
                <input type="text" name="comment" value="please"> <br>
                <input type="submit" value="评价"> <br>
            {% endif %}
        </li>
    {% endfor %}
</ul>

</body>
</html>