<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="post">
    筛选条件: <br>
    地理位置: <input type="text" name="search_locate"> <br>
    户型: <input type="text" name="search_type"> <br>
    价格: <input type="text" name="search_price"> <br>
    楼层: <input type="text" name="search_floor"> <br>
    是否合租: <p>是：<input type="radio" name="type" value="1"></p>
             <p>否：<input type="radio" name="type"  value="0"></p><br>
    可租月数: <input type="text" name="search_month"> <br>
    <input type="submit" value="submit">
</form>
</body>
</html>